/* responsividade/styles.css 
all: para todos os dispostivos.
Brasiller: para dispositivos tateis
Embossed: para dispisitiveis que imprimen em brasile
handheld: para dispositivos portateis, geralmente com telas pequebas e banda limitada
print: para imprensao no papel, ex quando forem imprimir seu sait vim sua marca d agua
projection: para apresentaçaõ como PPS
Screem: para monitores ou dispositivos com telas coloridas e resolução adequada
Speech:para sintetizadores de voz. as css 2 tem uma especificação de css chamada aural, onde podemos formatar a voz dos sintetizadores

orientação:
portrait altura maior que a largura
landscape largura maior que a altura*/


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}           

div{
    width: 700px;
    height: 700px;
    background: blue;
}

@media (max-width: 600px){
    div{
        background: red;
        height: 200px;
        width: 200px;
    }
}